<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title page -->
    <title>
      PS Off Site 2017 Hackaton
    </title>
    <!-- css icon -->
    <link rel="shortcut icon" href="/img/T-Shirt-2-icon.png">
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/portfolio-item.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/slick-theme.css">
  </head>
  <body>
    <img class="vizix-logo" src="/img/vizix_logo.png" style="position: absolute; width: 160px; margin-top: 30px; margin-left: 30px;">
    <div id="main"><%- markup -%></div>
    <script src="/js/bundle.js"></script>
  </body>
</html>
